<style>
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #caced1 !important;
}

.row-1{
    background-color:#1E242A !important;
}
</style>

<footer>
    <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
        <div class="col-12">
            <div class="row my-3 row-1 no-gutters">
                <div class="col-sm-3 col-auto text-center"><small style="font-size:20px;"> Praveen Sankhla</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                <div class="col  my-auto text-md-left  text-right "> <small> Praveen Sankhla <span><img src="https://www.freepnglogos.com/uploads/logo-website-png/logo-website-website-logo-png-transparent-background-background-15.png" class="img-fluid rounded-1" width="25"></span> <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" class="img-fluid rounded-1" width="25"></span></small>  </div>
            </div>
        </div>
    </div>
</footer>